# Discarding the environment files
**.env
vendor/*

# Keeping modules.txt for vendor
!vendor/modules.txt

# Keeping example.env for development
!config/envs/example.env

# Discarding protobuf files
**.pb.go

# Discarding the .log files
**.log